{% extends  'base.html'  %}

{% block title %} myorders {% endblock %}



{% block content %}

<div class="my-form container p-5 my-5 rounded border border-warning">
    <h2 class="text-center">myorders</h2>
    <hr>
    {%  include 'partials/_alerts.html' %}

    {% if order.count > 0 %}

        <h5 class="alert  alert-warning ">
            found {{order.count}} orders
        </h5>
        <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">order number</th>
                        <th scope="col">date & time</th>
                        <th scope="col">items count</th>
                        <th scope="col">total</th>
                        <th scope="col">is finished</th>

                    </tr>
                </thead>
                <tbody>
                {% for i in  order %}
                    <tr >
                        <!-- <th scope="row">{{forloop.counter}}</th> -->
                        <td>{{i.id}}</td> 
                        <td>{{i.orders_date}}</td> 
                        <td>{{i.items_count}}</td> 
                        <td>{{i.total}}</td> 
                        <td>
                            {% if i.is_finished == True %}
                            True
                            {% else  %}
                            FALSE
                            {% endif %}
                        </td> 

                    </tr>
                {% endfor %}   
                </tbody>
            </table> 

        
    {% endif  %}


</div>


{% endblock %}


     
 
            {% for i in order_detail %}
                <tr >
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{i.product.name}}</td>
                    <td><img src="{{i.product.photo.url }}" style="width: 80; height: 80px;" alt=""></td>
                    <td>{{i.price}} $</td>
                    <td>
                        {% if i.quantity == 1 %}
                        <a class="btn btn-outline-danger btn-sm disabled   " href="{% url 'sub_quantity' i.id %}">-</a>
                        {% else %}
                        <a class="btn btn-outline-danger btn-sm   " href="{% url 'sub_quantity' i.id %}">-</a>
                        {% endif %}

                        {{i.quantity}}
                        <a class="btn btn-outline-danger btn-sm " href="{% url 'add_quantity' i.id %}">+</a>

                    
                    </td>
                    <td  style="font-weight: bold; color: darkred;" >{% widthratio i.price 1 i.quantity  %} $</td>
                    <td><a  class="btn btn-outline-danger btn-sm " href="{% url 'delete_item' i.id %}">remove</a></td>
                </tr>
            {% endfor %}

       
        </tbody>
    </table> 